#about-us.row
  .six.columns
    .panel{:style => 'height: 170px;'}
      %h5{:style => 'text-decoration: underline;'} About Us
      %p We have the potential user - large database to provide you the unprecedented information advantage that you can use to improve your product.
      %p It's our expertise, so we know how to use it right.
    .clearfix
  .three.columns
    .panel{:style => 'height: 170px;'}
      %h5{:style => 'text-decoration: underline;'} Say Hello!
      %p 2/F Topy Building 1 No. 3 Economia Street, Libis Quezon City 1110, Philippines
  .three.columns
    .panel{:style => 'height: 170px;'}
      %h5{:style => 'text-decoration: underline;'} Contact Us
      %p If you have any questions regarding our services, drop us a message or give us a call at (+632 869 1627)
%center
  = "brought to you by:"
  -#= link_to "@acedimasuhid", "https://twitter.com/acedimasuhid", :target => "_blank"
  -#= ","
  = link_to "@rbmrclo", "https://twitter.com/rbmrclo", :target => "_blank"
  = ","
  = link_to "@ramosjaemar", "https://twitter.com/ramosjaemar", :target => "_blank"
  -#= link_to "@akosipc", "https://twitter.com/akosipc", :target => "_blank"
  -#= "and"
  -#= link_to "@harveyico05", "https://twitter.com/harveyico05", :target => "_blank"
.v-spacer50
