#features
  .row
    .twelve.columns
      .four.columns.less
        %span.glyph.enclosed= "["
        
        %h4.centerify Campaigns
        %hr
        %p Create a hassle free engagement with prospect users through promotions and communication.
      .four.columns.less
        %span.glyph.enclosed= "/"

        %h4.centerify Demographics
        %hr
        %p Get measurable data that you could vet to build compelling products, and continued growth of traction.
      .four.columns.less
        %span.glyph.enclosed= "o"

        %h4.centerify Feedbacks
        %hr
        %p Leverage the power of crowdsourcing to know the pitfalls and joyrides for your startup.
