#pricing
  .row
    .twelve.columns
      .five.columns#first.button.success= link_to 'I\'m a Startup', new_startup_session_path, style: "color: #FFF"
      .five.columns#third.button= link_to 'I\'m a User', user_omniauth_authorize_path(:facebook), style: "color: #FFF"
