- provide :title, 'Features'

#features
  .row
    %h2.centerify.features-header What's In It For Me?
    .twelve.columns
      .four.columns
        %span.glyph.enclosed= "["
        
        %h4.centerify Make Right Decisions
        %hr
        %p Leverage the power of Social Networks to vet your candidates better.
      .four.columns
        %span.glyph.enclosed= "/"

        %h4.centerify Easy Viewable Data
        %hr
        %p Get measurable data that you could easily compare your applicants.
      .four.columns
        %span.glyph.enclosed= "o"

        %h4.centerify Discover Connections
        %hr
        %p Check applicants connections in your HR team to better know your candidates


