- provide :title, "Home"

.v-spacer60
.centerify
  .social-resume
    Larks
  %h4.subheader{:style => "color: white;"}
    Finding the
    %strong.rightemp right
    early adopters is as easy as never before.
= render 'pricing' unless user_signed_in? || startup_signed_in?
.pricing-wrapper
  = render 'features'
.v-spacer20
.centerify
  = render 'about'
.v-spacer60

:css
  .rightemp {
    text-shadow: 0 0 3px #000;
  }
