.v-spacer20{
	height: 20px;
}

.v-spacer60{
	height: 60px;
}

.v-spacer50{
	height: 50px;
}

.v-spacer80{
	height: 80px;
}

.v-spacer120{
	height: 120px;
}

.v-spacer150{
	height: 150px;
}

.v-spacer200{
	height: 200px;
}